.none{
	display: none !important;
}
a.thumbnail:hover{
	text-decoration: none;
}
.thumbnail .img{
	width: 100%;
	height: 100px;
	background-size: cover;
	background-position: center;
}
.thumbnail{
	min-height: 225px;
}